.registration.layer {
	position: absolute;
}

.registration.layer-z4 {
	z-index: 3;
}

.registration {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 85%;
	height: 500px;
}

.registration .form-header {
	width: 100%;
	height: 30px;
	padding: 6px;
	background: -webkit-linear-gradient(#C4C4C4, #9D9898);
	background: linear-gradient(#C4C4C4, #9D9898);
	border: 3px solid #C39300;
	border-bottom: 0;
	border-radius: 8px 8px 0 0;
	border-style: solid;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.registration .form-body {
	padding: 30px 20px;
	width: 100%;
	height: 470px;
	background: #333333;
	border: 3px solid #C39300;
	border-radius: 0 0 8px 8px;
}

.registration .item {
	padding-bottom: 20px;
}

.registration .input-group {
	width: 100%;
	height: 340px;
	padding-bottom: 20px;
}

.registration .input-title {
	padding-bottom: 5px;
	font-size: 15px;
	color: white;
}

.registration .input-body {
	padding-bottom: 10px;
}

.registration .input {
	width: 100%;
	height: 25px;
	padding: 5px;
	background-color: white;
	border-radius: 4px;
}

.registration .caption {
	font-size: 12px;
}

.registration .button-group {
	width: 100%;
	height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.registration .next-button {
	width: 100px;
	height: 30px;
	color: #ffffff;
	font-size: 15px;
	border-radius: 3px;
	background: -webkit-linear-gradient(#10A8FF, #0E3D58);
	background: linear-gradient(#10A8FF, #0E3D58);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.fotter-button {
	top: -20px;
	left: -40px;
}

