// header
.header{
  width: 100vw;
  height: 50px;
  background-color: green;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header-title{
  text-align: center;
  font-weight: bold;
}

.header-inner{
  margin: 0 auto;
  width: 210px;
  padding: 9px 0;
  background-color: gray;
}


