//header
.header{
    margin: 0;
    padding: 10px 0;
    width: 375px;
    height: 50px;
    background: linear-gradient(#663C06,#080808);
}
.header-title{
    margin: 0 auto;
    width: 50%;
    height: 30px;
    padding: 5px;    
    background: linear-gradient(#C4C4C4 ,#9D9898);
    border-radius: 8px;
    border-style: solid;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
}